.closed{
	display: none;   
}


.part2_open{
    margin-top:15px;
	display: block;
    border:2px solid black;
    background: lightgray;
    border-radius: 5px;
}

.part2_open:focus{
    border:4px solid black;
    background: none;
    border-radius: 0px;
}

img{
    display:block;
    border:2px solid black;
    height:10vh;
}
